<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27137699174-2qqde61kivs3dlevh7aibs18t2tokgb1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27137699174-2qqde61kivs3dlevh7aibs18t2tokgb1</string>
	<key>API_KEY</key>
	<string>AIzaSyC1G4QlrAjFVTLRrA-GZr_ET3icA5Z_Svk</string>
	<key>GCM_SENDER_ID</key>
	<string>27137699174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.example.setup</string>
	<key>PROJECT_ID</key>
	<string>cinematica-e5089</string>
	<key>STORAGE_BUCKET</key>
	<string>cinematica-e5089.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27137699174:ios:f95d6b434b0a238d8c6ca7</string>
</dict>
</plist>